{{> menu}}


 <section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{title}}
    {{station.latitude}}
    {{station.longitude}}
  </h2>
{{>card}} 
<section class="ui center aligned middle aligned segment">   
  {{> listreadings}}
  {{> addreading}}
  {{> latestweather}}
</section